<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
   <link id="page_favicon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAVZJREFUOE9VU8u2hCAMa/CzB1fqZ4+5N2mLjscFHErzaECcZEwgApEf43edWzBP/KmUiDi/RG4icN7MAgQmwD64yPgIoD7tDZhNvFKzOG7G3NBd2UViuAMGKX6LgWDUgUeBz6FdxBv1vIl9ICu6xWolvkIXyoCqzOYt9rpLgkr7QKsWrMaF+L6baxklacks6Vb/chWmIAOnj/PScpvhKUm/7gpUdb1esxNKqTGxHQCLZp9pMpIjgJqKoHIeJ2ntOhCi6H2GZ4RD7Mpc1xbYLsvSwqRZYbJRajiHaOSEZHCFzDJW/RO5l8hXgTQeavYkNRmnZ05o/3aox6DZzw2UlGLwjLaMbca+08FZDUjF2Wl1EgcegHwDGq1NNAfRVHVdwnWTny1nX9n3E+scXSRlsrPR70/GdVhLn2mfYjNk5/MS/W7UQPg/ry3jmrHP1L2jtQA6Sf93/wDC5fAe8jw5LAAAAABJRU5ErkJggg==" rel="icon" type="image/x-icon">
    

    <title>Login | Shoping</title>
  </head>
  <body>
    {{{body}}}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>